html {} 
body, #root {
    min-height: 100vh;
    min-width: 720px;
    padding: 0;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas-container {
  position: relative;
  width: 1280px;
  height: 720px;
}

#spacer {
  height: 720px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}

#logs {

}

